.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 25px;
    border-bottom: 2px solid rgba(0,0,0,0.4);
}

.header__left a{
    margin: auto 10px;
    text-decoration: none;
    color:#212353;
}

.header__right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 45vw;
}

.header__right-type input{
    height: 42px;
    width: 360px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.3);
}

.button-search{
    height: 48px;
    width: 148px;
    color: blue;
    background: #FFF;
    border-radius: 5px;
    border-color: rgba(0, 0, 255, 0.5);
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.3);
}

.button-clear{
    height: 48px;
    width: 148px;
    color: red;
    background: #FFF;
    border-radius: 5px;
    border-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.3);
}